/*Header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 40px 50px;
}

header .logo {
  width: 190px;
  height: auto;
}

.header .navbar {
  display: flex;
  align-items: center;
}

header .navbar a {
  margin-right: 50px;
  color: var(--white-100);
  font-family: var(--font-barlow);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

header .contact-btn {
  padding: 18px 30px;
  border: none;
  border-radius: 30px;
  font-family: var(--font-fraunces);
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  background-color: var(--white-100);
  transition: 0.3s ease;
}

header .contact-btn:hover {
  color: var(--white-100);
  background-color: var(--contact-btn-hover);
}

/*Hamburger*/
.hamburger, .hamburger-close{
  position: absolute;
  top: 30%;
  right: 5%;
  display: none;
  cursor: pointer;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.3s ease-in-out;
}

.hamburger-close{
  display: none;
  color: var(--white-100);
  font-size: 1.4rem;
  font-weight: 100;
}

/*End Hamburger*/

/*End Header*/

/*Main*/

.home {
  position: relative;
  background-image: url('../images/desktop/image-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-header {
  text-align: center;
  margin-bottom: 120px;
  max-width: 100%;
  width: 100%;
}

.home .home-header h1 {
  font-family: var(--font-fraunces);
  letter-spacing: 10px;
  font-size: 3.8rem;
  color: var(--white-100);
  font-weight: 900;

  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  word-wrap: break-word;
}

.home .home-header img {
  padding-top: 100px;
}

/*Column*/
.column {
  background-color: var(--white-100);
  display: flex;
  flex-direction: column;
}

.column .col-container + .col-container,
.column .col-container + .col-container-2,
.column .col-container-2 + .col-container,
.column .col-container-3 + .col-container {
  margin-top: -4px;
}

.column .col-container,
.column .col-container-2,
.column .col-container-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.column .col-container .col-left,
.col-right,
.column .col-container-2 .col-left,
.col-right,
.column .col-container-3 .col-left,
.col-right {
  flex: 1;
}

.column .col-container .col-left,
.column .col-container-2 .col-left,
.column .col-container-3 .col-left,
.column .col-container-3 .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column .col-container .col-right img,
.column .col-container-2 .col-left img,
.column .col-container-3 .col-left img,
.column .col-container-3 .col-right img {
  width: 100%;
  height: auto;
}

.column .col-container .col-left .description {
  padding: 0 185px;
}

.column .col-container-2 .col-right .description {
  padding: 0 140px;
}

.column .col-container .col-left .description h1,
.column .col-container-2 .col-right .description h1 {
  font-family: var(--font-fraunces);
  font-size: 2.8rem;
  color: var(--blue-400);
  font-weight: 900;
  margin-bottom: 40px;
}

.column .col-container .col-left .description p,
.column .col-container-2 .col-right .description p {
  font-family: var(--font-barlow);
  font-weight: 500;
  color: var(--gray-150);
  font-size: 1.125rem;
  margin-bottom: 40px;
  line-height: 1.8rem;
}

.column .col-container .col-left .description .learnmore-btn,
.column .col-container-2 .col-right .description .learnmore-btn {
  font-family: var(--font-fraunces);
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 20px;
  color: var(--blue-400);
  position: relative;
  z-index: 1;
}

.column .col-container .col-left .description .learnmore-btn::after,
.column .col-container-2 .col-right .description .learnmore-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 135px;
  height: 10px;
  border-radius: 10px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.column .col-container .col-left .description .learnmore-btn::after {
  background-color: var(--yellow-50);
}

.column .col-container-2 .col-right .description .learnmore-btn::after {
  background-color: var(--red-50);
}

.column .col-container .col-left .description .learnmore-btn:hover::after {
  background-color: var(--yellow-100);
}

.column .col-container-2 .col-right .description .learnmore-btn:hover::after {
  background-color: var(--red-100);
}

/*Container-3*/
.column .col-container-3 .col-left,
.column .col-container-3 .col-right {
  position: relative;
}

.column .col-container-3 .left-description,
.column .col-container-3 .right-description {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  padding: 0 220px;
}

.column .col-container-3 .left-description h1,
.column .col-container-3 .right-description h1 {
  font-family: var(--font-fraunces);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 35px;
}

.column .col-container-3 .left-description h1{
  color: var(--blue-200);
}

.column .col-container-3 .right-description h1{
  color: var(--blue-300);
}

.column .col-container-3 .left-description p,
.column .col-container-3 .right-description p {
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 10px;
  line-height: 1.8rem;
}

.column .col-container-3 .left-description p{
  color: var(--blue-100);
}

.column .col-container-3 .right-description p{
  color: var(--blue-300);
}
/*End Container-3*/

/*End Column*/

/*Client Testimonials*/
.testimonials {
  text-align: center;
  background-color: var(--white-100);
  padding: 200px 0;
}

.testimonials h1 {
  margin-bottom: 80px;
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 5px;
  color: var(--gray-100);
}

.testimonials .t-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
  flex-wrap: wrap;
  height: 400px;
}

.testimonials .t-container .t-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 20px;
  height: 100%;
}

.testimonials .t-container .t-description img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
}

.testimonials .t-container .t-description p {
  font-family: var(--font-barlow);
  font-weight: 500;
  color: var(--gray-200);
  font-size: 1.125rem;
  line-height: 1.8rem;
  flex: 1; 
}

.testimonials .t-container .t-description h2 {
  font-family: var(--font-fraunces);
  color: var(--blue-400);
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: auto;
}

.testimonials .t-container .t-description h3 {
  font-family: var(--font-barlow);
  color: var(--gray-100);
  font-weight: 500;
  font-size: 1.125rem;
}
/*End Client Testimonials*/

/*Gallery*/
.gallery .g-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  flex-wrap: wrap;
}

.gallery .g-container img {
  flex: 1 1 25%;
  width: 25%;
  height: auto;
}
/*End Gallery*/

/*End Main*/

/*Footer*/
footer {
  background-color: rgba(145, 213, 197, 255);
  text-align: center;
  padding: 40px 20px;
}

footer .logo {
  width: 180px;
  margin: 50px auto;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-container .navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

footer .footer-container .navbar-footer a {
  color: var(--blue-100);
  font-family: var(--font-barlow);
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 100px;
  transition: 0.3s ease;
}

footer .footer-container .navbar-footer a:hover {
  color: var(--white-100);
}

footer .footer-container .footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

footer .footer-container .footer-socials img {
  width: 25px;
  height: auto;
}

.footer-container .footer-socials .socials-logo {
  transition: filter 0.3s ease;
  margin-bottom: 50px;
}

.footer-container .footer-socials .socials-logo:hover {
  filter: invert(1) brightness(2);
}
/*End Footer*/

/*Attribution*/
.attribution{
  font-style: italic;
  font-family: var(--font-barlow);
  font-size: 0.875rem;
  color: var(--blue-100);
  text-align: center; 
  margin-top: 20px;
  font-weight: 500;
}

.attribution a {
  color: var(--blue-300);
  transition: text-decoration-color 0.3s ease;
}

.attribution a:hover {
  text-decoration: underline;
  transition: text-decoration-color 0.3s ease;
}
/*End Attribution*/